@keyframes slide_in {
  0% {
    opacity: 0;
    transform: translateX(-500%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} 

.slide_in{
  
}
.slide_in :first-child{
  animation-delay: 1s;
  animation: slide_in 2s alternate infinite;

}